<div class="ui container">
  <div class="ui segment">
    <div class="ui text menu">
      <div class="item">
        <img src="/images/new-school.jpg">
      </div>
      <a class="browse item">
    Browse Courses
    <i class="dropdown icon"></i>
  </a>
      <div class="ui right dropdown item">
        More
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Applications</div>
          <div class="item">International Students</div>
          <div class="item">Scholarships</div>
        </div>
      </div>
    </div>
  </div>
</div>
